PORT=5000
CLIENT_URL=http://localhost:5173
JWT_SECRET=Nitin_Secret
MONGODB_URI=mongodb://nitchauhan057_db_user:nitinn@ac-wj8lcme-shard-00-00.7hwqutf.mongodb.net:27017,ac-wj8lcme-shard-00-01.7hwqutf.mongodb.net:27017,ac-wj8lcme-shard-00-02.7hwqutf.mongodb.net:27017/task-manager?ssl=true&replicaSet=atlas-bihalg-shard-0&authSource=admin&retryWrites=true&w=majority&appName=Cluster11
